# Ignore Python environment
venv/
__pycache__/
*.pyc

# VSCode and swap files
.vscode/
*.swp

# Ignore temp/output files
*.zip
*.png
*.log
.DS_Store
*.bak
*.tmp
*.pth
*.pt
*.ckpt

# Ignore Jupyter/IPython checkpoints
.ipynb_checkpoints/

# Ignore Axolotl cloned repo
axolotl/
# Optional Axolotl outputs
lora-out-dress/
lora-out-dress-checkpoint-manual/

# WANDB run logs and symlinks
wandb/
wandb/latest-run

# Ignore intermediate data files
data/json_files/processed/
data/json_files/*.val.json
data/json_files/*.train.json
mistral_env/
